# Match all files in any test_data directory with the following extensions
# This should cover all "big" (> ~1MB) files in the libera_cam/data and test_data directories
# netCDF files
**/*data/**/*.nc filter=lfs diff=lfs merge=lfs -text
# HDF5 files
**/*data/**/*.h5 filter=lfs diff=lfs merge=lfs -text
# Spice Kernel SPK files
**/*data/**/*.bsp filter=lfs diff=lfs merge=lfs -text
# Spice Kernel CK files
**/*data/**/*.bc filter=lfs diff=lfs merge=lfs -text
# NumPy binary files
**/*data/**/*.npy filter=lfs diff=lfs merge=lfs -text
# CSV files
**/*data/**/*.csv filter=lfs diff=lfs merge=lfs -text
